:root {
    --card-color-primario: rgb(0, 183, 255);
    --card-color-secundario: rgb(255, 48, 255);
    --color-primario:rgb(235, 38, 3);
}

.letra-orbitron {
    font-family: var(--letra-orbitron);
}

.fondo-negro {
    background-color: black;
    color: white;
}

.borde-top-rojo{
    border-top: 5px solid var(--color-primario);
}

.inicio-banner {
    background-color: #eb2603;
    background-size: contain;
    background-position: center;
    border-top: 5px solid var(--color-primario);
    border-bottom: 5px solid var(--color-primario);
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
}

.titulo-inicio {
    border-bottom: 2px solid var(--color-primario);
    padding-bottom: 50px;
}


/*      CARDS SERVICIOS  desarrollo web       */



.card {
    width: 220px;
    height: 300px;
    background: var(--card-color-primario);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px var(--card-color-secundario);
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: white;
}

.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1);
    box-shadow: 0px 0px 10px 5px var(--card-color-primario);
    background: var(--card-color-secundario);
}

.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

.card:hover .first-content {
    height: 0px;
    opacity: 0;
}

.second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.3rem;
    transform: rotate(0deg);
}


/*      CARD SERVICIOS responsivo             */


.flip-card {
    background-color: transparent;
    width: 220px;
    height: 300px;
    perspective: 1000px;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid var(--card-color-secundario);
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, var(--card-color-secundario) 30%, var(--card-color-primario) 88%,
            var(--card-color-primario) 40%, var(--card-color-primario) 78%);
    color: white;
}

.flip-card-back {
    background: linear-gradient(120deg, var(--card-color-primario) 30%, var(--card-color-secundario) 88%,
            var(--card-color-secundario) 40%, var(--card-color-secundario) 78%);
    color: white;
    transform: rotateY(180deg);
}

/*          CARD SEO            */


.card-SEO {
    width: 220px;
    height: 300px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.card-SEO h2 {
    z-index: 1;
    color: white;
    font-size: 1em;
}

.card-SEO::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, var(--card-color-primario), var(--card-color-secundario));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card-SEO::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
}

.card-SEO:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
}

/*        CARD MANTENIMIENTO          */


.card-mantenimiento {
    width: 220px;
    height: 300px;
    cursor: pointer;
    border-radius: 20px;
}

.content {
    border-radius: 20px;
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: var(--card-color-secundario);
    width: 220px;
    height: 300px;
    transform-style: preserve-3d;
}

.card-mantenimiento:hover .content {
    border-radius: 20px;
    transform: rotateY(0.5turn);
}

.front,
.back {
    flex-direction: column;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.title {
    transform: translateZ(5rem);
    font-size: 2rem;
}

.subtitle {
    transform: translateZ(2rem);
}

.back {
    border-radius: 20px;
    transform: rotateY(0.5turn);
    background-color: var(--card-color-primario);
}

.description {
    transform: translateZ(3rem);
}


/*       Herramientas         */

.contenedor-herramientas {
    display: flex;
    justify-content: space-around;
}

.light-button button.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
    cursor: default;
}

.light-button button.bt .button-holder-html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #615f5f;
    font-weight: 700;
    transition: 300ms;
    outline: #615f5f 2px solid;
    outline-offset: 20;
}

.light-button button.bt .button-holder-html svg {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;
}

.light-button button.bt .light-holder {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-button button.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    z-index: 2;
}

.light-button button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
}

.light-button button.bt:hover .button-holder-html {
    color: white;
    outline: #e34f26 2px solid;
    outline-offset: 2px;
}

.light-button button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,
        white 0%,
            rgba(255, 255, 255, 0) 75%,
            rgba(255, 255, 255, 0) 100%);
}

.light-button button.bt:hover .button-holder-html .svg-html > path:nth-child(1){
    fill:#e34f26;
}

.light-button button.bt:hover .button-holder-html .svg-html > path:nth-child(2){
    fill:#ef652a;
}

.light-button button.bt:hover .button-holder-html .svg-html > path:nth-child(3){
    fill:#ecedee;
}

.light-button button.bt:hover .button-holder-html .svg-html > path:nth-child(4){
    fill:#fff;
}

/*        Herramienta_CSS            */


.light-button button.bt .button-holder-css {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #615f5f;
    font-weight: 700;
    transition: 300ms;
    outline: #615f5f 2px solid;
    outline-offset: 20;
}

.light-button button.bt:hover .button-holder-css {
    color: white;
    outline: #0c73b8 2px solid;
    outline-offset: 2px;
}

.light-button button.bt .button-holder-css svg {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;
}


.light-button button.bt:hover .button-holder-css .svg-css > path:nth-child(1){
    fill:#0c73b8;
}

.light-button button.bt:hover .button-holder-css .svg-css > path:nth-child(2){
    fill:#30a9dc;
}

.light-button button.bt:hover .button-holder-css .svg-css > path:nth-child(3){
    fill:#ecedee;
}

.light-button button.bt:hover .button-holder-css .svg-css > path:nth-child(4){
    fill:#fff;
}

/*         Herramienta-bootstrap              */

.light-button button.bt .button-holder-bootstrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #615f5f;
    font-weight: 700;
    transition: 300ms;
    outline: #615f5f 2px solid;
    outline-offset: 20;
}

.light-button button.bt:hover .button-holder-bootstrap {
    color: white;
    outline: #7E13F8 2px solid;
    outline-offset: 2px;
}

.light-button button.bt .button-holder-bootstrap svg {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;
}


.light-button button.bt:hover .button-holder-bootstrap .svg-bootstrap{
    fill:#7E13F8;
}

/*         Herramienta-JavaScript              */

.light-button button.bt .button-holder-js {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #615f5f;
    font-weight: 700;
    transition: 300ms;
    outline: #615f5f 2px solid;
    outline-offset: 20;
}

.light-button button.bt:hover .button-holder-js {
    color: white;
    outline: #f0db4f 2px solid;
    outline-offset: 2px;
}

.light-button button.bt .button-holder-js svg {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;
}


.light-button button.bt:hover .button-holder-js .svg-js > path:nth-child(1){
    fill:#f0db4f;
}

.light-button button.bt:hover .button-holder-js .svg-js > path:nth-child(2){
    fill:#252525;
}

/*         Herramienta-React              */

.light-button button.bt .button-holder-react {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #615f5f;
    font-weight: 700;
    transition: 300ms;
    outline: #615f5f 2px solid;
    outline-offset: 20;
}

.light-button button.bt:hover .button-holder-react {
    color: white;
    outline: #00D8FF 2px solid;
    outline-offset: 2px;
}

.light-button button.bt .button-holder-react svg {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;
}


.light-button button.bt:hover .button-holder-react .svg-react{
    fill:#00D8FF;
}