.sobreNosotros-container {
    color: rgb(230, 226, 226);
    font-size: large;
    font-style: italic;
}

/*    Card - Sobre Nosotros    */

.contenedor-card-sobre-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-sobre-nosotros {
    position: relative;
    width: 250px;
    height: 250px;
    background: lightgrey;
    border-radius: 30px;
    overflow: hidden;
    transition: all 1s ease-in-out;
    border: 2px solid #eb2603;
}

.card-sobre-nosotros-background {
    width: 250px;
    height: 250px;
    background-image: url('../assets/download.png'); /* Cambia por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda el área */
}

.background-aron {
    width: 250px;
    height: 250px;
    background-image: url('../assets/Aron_Work.jpg'); /* Cambia por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda el área */
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.icon .svg {
    fill: rgba(255, 255, 255, 0.797);
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.box {
    position: absolute;
    padding: 10px;
    text-align: right;
    background: rgba(255, 255, 255, 0.389);
    border-top: 2px solid #eb2603;
    border-right: 1px solid #eb2603;
    border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
    box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
    transform-origin: bottom left;
    transition: all 1s ease-in-out;
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.box:hover .svg {
    fill: white;
}

.box1 {
    width: 70%;
    height: 70%;
    bottom: -70%;
    left: -70%;
}

.box-linkedin::before {
    background: radial-gradient(circle at 30% 107%, #2ae6ff 10%, #20a7f5 20%, #3274ee 30%);
}

.box-instagram::before {
    background: radial-gradient(circle at 30% 107%, #ffbc2a 10%, #f57520 20%, #ee3832 30%);
}

.box1:hover::before {
    opacity: 1;
}

.box1:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
}

.box2 {
    width: 50%;
    height: 50%;
    bottom: -50%;
    left: -50%;
    transition-delay: 0.2s;
}

.box-git::before {
    background: radial-gradient(circle at 30% 107%, #e5e5e6 0%, #000000 90%);
}

.box2:hover::before {
    opacity: 1;
}

.box2:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
}

.box3 {
    width: 30%;
    height: 30%;
    bottom: -30%;
    left: -30%;
    transition-delay: 0.4s;
}

.box-discord::before {
    background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

.box-instagram::before {
    background: radial-gradient(circle at 30% 107%, #eb7425 0%, #f33f3f 90%);
}

.box3:hover::before {
    opacity: 1;
}

.box3:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
}

.box4 {
    width: 10%;
    height: 10%;
    bottom: -10%;
    left: -10%;
    transition-delay: 0.6s;
}

.card-sobre-nosotros:hover {
    box-shadow: 0px 0px 10px 5px #eb2603;
    transform: scale(1.1);
}

.card-sobre-nosotros:hover .box {
    bottom: -1px;
    left: -1px;
}

.card-sobre-nosotros:hover .logo {
    transform: translate(70px, -52px);
    letter-spacing: 0px;
}